*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    margin: 0;
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#ui {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#waiting_room {
    display: none;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.main_title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 150px;
}