@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=MedievalSharp&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    margin: 0;
    font-family: 'GFS Didot', serif;
    font-family: 'MedievalSharp', cursive;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 4px solid #7f523d;
    background-color: #ae7b5a;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #7f523d;
    color: #fff;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 4px solid #7f523d;
    border-radius: 5px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

#ui {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #101217a6;
    overflow: hidden;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#waiting_room, #end_game {
    display: none;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    text-align: center;
    background-color: #101217;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#end_game {
    background-color: #101217a6;
}

.main_title {
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
}

#check_join, #check_create {
    font-size: 34px;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(240, 255, 255, 0.6);
    border-radius: 8px;
    border: 6px solid #7f523d;
    background-color: #ae7b5a;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-family: 'GFS Didot', serif;
    font-family: 'MedievalSharp', cursive;
    margin: 0 20px;
}
#join_game_ui, #create_game_ui {
    display: none;
    background-color: rgba(240, 255, 255, 0.6);
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 40px;
    border-radius: 8px;
    border: 6px solid #7f523d;
    background-color: #ae7b5a;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#spell_bar {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin: auto;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
}

#spell_bar button {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    padding: 7px;
    cursor: default;
    border-radius: 50%;
    background-color: #4f3e3e;
    position: relative;
    user-select: none;
}

#spell_bar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

#spell_bar button::after {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
    background-color: rgb(117, 117, 117);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spell_bar button:nth-child(1)::after {
    content: 'Q';
}

#spell_bar button:nth-child(2)::after {
    content: '␣';
}

#spell_bar button.isLoading::before {
    background-color: #0000008f;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

#spell_bar button.isLoading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    user-select: none;
    font-weight: 700;
    font-size: 16px;
}

#end_game_winner {
    font-size: 2rem;
    margin: 20px 0;
}